/* Css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.container, .bottom_container{
    width: 100%;
    margin: 0 auto;
}

/* Generics */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 0 1rem;
    height: 80px;
    
    display: flex;
    align-items: center;

    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;

    font-size: 24px;
    font-weight: 700;
    background-color: blue;
    color: white;
}

main{
    margin-top: 80px;
}

section{
    padding: 2rem 0;
}

h3{
    padding: 1rem;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 0 10px;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

footer{
    background-color: black;
    color: white;
}

/* Header */
header .container{
    justify-content: space-between;
}

.header_right_laptop{
    display: none;
}

.logo img{
    width: 100%;
    height: auto;
    display: block;
}

/* Introduction */
.row, .double .card{
    flex-wrap: wrap;
}

.col{
    flex-basis: 100%;
    padding: 1rem;
    border: 1px dashed black;
}

.card{
    border: 1px dashed black;
}

.double_card, .profile{
    flex-basis: 100%;
}

/* Footer */


/* Buttons */
.btn{
    border-radius: 15px;
    padding: 5px 10px;
}

.btn.start{
    background-color: white;
    color: black;
}

/* Colors */
.bg_white{
    background-color: white;
}

.bg_lilla{
    background-color: lightcoral;
}

/* Media query*/
/* Tablet */
@media screen and (min-width: 426px){
    /* Generics */
    .container{
        max-width: 768px;
    }

    .bottom_container{
        max-width: 480px;
    }

    /* Introduction */
    .intro .col{
        flex-basis: calc(100% / 3);
    }

    .intro .col.double{
        flex-basis: calc((100% / 3) * 2);
    }

    /* Testimonial */
    .profile.photo{
        flex-basis: calc(100% / 3);
    }

    .profile.quote{
        flex-basis: calc((100% / 3) * 2);
    }

    /* Benefits */
    .benefits .col{
        flex-basis: 50%;
    }

    /* About us*/
    .col.about_text{
        flex-basis: 60%;
    }

    .col.about_img{
        flex-basis: 40%;
    }

}

/* Laptop */
@media screen and (min-width: 769px) {
    /* Generics */
    .container{
        max-width: 1024px;
    }

    /* Header */
    .header_right_mobile{
        display: none;
    }

    .header_right_laptop{
        display: block;
    }

    /* Introduction */
    .double_card{
        flex-basis: 50%;
    }

    /* Planning */
    .planning .col{
        flex-basis: 50%;
    }

    /* Testimonial */
    .profile.photo{
        flex-basis: 20%;
    }

    .profile.quote{
        flex-basis: 80%;
    }

    /* Benefits */
    .benefits .col{
        flex-basis: calc(100% / 3);
    }

    /* About us*/
    .col.about_text{
        flex-basis: 70%;
    }

    .col.about_img{
        flex-basis: 30%;
    }
}
