/* Css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/* Generics */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 1rem;
    height: 80px;
    
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;

    font-size: 24px;
    font-weight: 700;
    background-color: blue;
    color: white;
}

main{
    margin-top: 80px;
}

section{
    padding: 2rem 0;
}

/* Header */
header .container{
    justify-content: space-between;
}

.header_right_laptop{
    display: none;
}

/* Introduction */
.row, .double .card{
    flex-wrap: wrap;
}

.col{
    flex-basis: 100%;
    padding: 1rem;
    border: 1px dashed black;
}

.card{
    border: 1px dashed black;
}

.double_card, .profile{
    flex-basis: 100%;
}

/* Media query*/
/* Tablet */
@media screen and (min-width: 426px){
    /* Generics */
    .container{
        max-width: 768px;
    }

    /* Introduction */
    .intro .col{
        flex-basis: calc(100% / 3);
    }

    .intro .col.double{
        flex-basis: calc((100% / 3) * 2);
    }

    /* Testimonial */
    .profile.photo{
        flex-basis: calc(100% / 3);
    }

    .profile.quote{
        flex-basis: calc((100% / 3) * 2);
    }

}

/* Laptop */
@media screen and (min-width: 769px) {
    /* Generics */
    .container{
        max-width: 1024px;
    }

    /* Header */
    .header_right_mobile{
        display: none;
    }

    .header_right_laptop{
        display: block;
    }

    /* Introduction */
    .double_card{
        flex-basis: 50%;
    }

    /* Planning */
    .planning .col{
        flex-basis: 50%;
    }

    /* Testimonial */
    .profile.photo{
        flex-basis: 20%;
    }

    .profile.quote{
        flex-basis: 80%;
    }
}
