/* Css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utils */
.flex{
    display: flex;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/* Generics */
header{
    padding: 1rem;
    height: 80px;
    
    position:fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;

    font-size: 24px;
    font-weight: 700;
    background-color: blue;
    color: white;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Header */
header .container{
    justify-content: space-between;
    align-items: center;
}

.header_right_laptop{
    display: none;
}

/* Media query*/
@media screen and (min-width: 769px) {
    .container{
        max-width: 1024px;
    }

    .header_right_mobile{
        display: none;
    }

    .header_right_laptop{
        display: block;
    }
}
